{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <div class="container-fluid text-center close">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="alert {{ message.tags }} alert-dismissible" role="alert">
                        {{ message|safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="x"></button>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {% block something %}
        {% endblock %}
    </div>

{% endblock %}