{% extends 'main/home.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block something %}
    <div class="text-center justify-content-center">
        <h1>Забыли пароль?</h1>
        <p>Введите свой E-mail адрес чтобы получить новый пароль.</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.email }}
            </div>
            <p><input type="submit" value="Отправить письмо"></p>
        </form>
    </div>
{% endblock %}